# Ignoriere alles
*

# Aber schau in Ordner hinein
!*/

# Erlaube diese wichtigen Dateien im Hauptverzeichnis:
!Ricardos_TRACK_VIEWER.html
!.gitignore
!LICENSE
!README.md
!bild.png

# Erlaube explizit den Inhalt dieser Ordner:
!JS/**
!CSS/**

# Update.bat explizit ignorieren (Sicherheitshalber)
update.bat